/* Common Styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', sans-serif;
  color: #9b9b9b;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.heading {
  color: #f5f5f5;

  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

.description {
  width: 20rem;

  margin-bottom: 1.5rem;

  text-align: center;
}

.active {
  background-color: #2c0b75;
  color: #f5f5f5;
}

.hide {
  display: none;
}

.logo {
  display: inline-block;
  background-image: url("../Assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
}