#footer {
    background-color: #0d0d0d;
}

#footer-intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 1rem;
    margin-right: 1rem;
}

#footer-intro .logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}