/* Header Styles */

/* Extra Small (0–480px): Phones & wearables
   Reference: Apple Watch, iPhone SE, Galaxy A series */

#header {
  position: fixed;
  top: 0;

  z-index: 1000;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100vw;
  height: 10vh;

  border-bottom: 0.01rem solid #9b9b9b;

  background-color: #0d0d0d;
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);

  color: #f5f5f5;
}

#left, #center, #right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#left {
  margin-left: 1.5rem;
}

#right {
  margin-left: auto;
  margin-right: 1.5rem;
}

#get-started {
  border: #2c0b75;

  border-radius: 24px 24px 24px 24px / 18px 18px 18px 18px;

  padding: 0.5rem 1rem;

  color: #f5f5f5;
}

#menu {
  font-size: 1rem;

  margin-left: 1rem;
}

/* Small (481–767px): Large phones
  Reference: iPhone Pro Max, Pixel 8 Pro */
@media screen and (min-width: 481px) {}

/* Medium (768–1024px): Tablets
  Reference: iPad Air, Galaxy Tab */
@media screen and (min-width: 768px) {}

/* Large (1025–1440px): Laptops
  Reference: Surface Pro, MacBook Air */
@media screen and (min-width: 1024px) {}

/* Extra Large (1441px+): Desktops
  Reference: 24"–27" monitors, iMac, 50-inch Television */
@media screen and (min-width: 1440px) {}