.header{
    width:100%;
    border-bottom:1px solid var(--border);
    background:#000;
}

.nav{
    height:80px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo-wrapper{
    display:flex;
    align-items:center;
    gap:14px;
}

.logo-wrapper img{
    width:40px;
    height:40px;
}

.logo-wrapper span{
    font-size:2rem;
    font-weight:700;
    font-family:Georgia,serif;
}

.desktop-nav{
    display:flex;
    gap:50px;
}

.desktop-nav a{
    color:var(--muted);
    transition:.3s;
}

.desktop-nav a:hover{
    color:#fff;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.signin{
    color:#b0b0b0;
}

.get-started{
    background:var(--purple);
    padding:14px 24px;
    border-radius:18px;
    font-weight:600;
}

.get-started:hover{
    background:var(--purple-hover);
}

#menuBtn{
    display:none;

    background:none;
    border:none;

    color:white;
    font-size:1.5rem;

    cursor:pointer;
}

.mobile-menu{
    display:none;
}

.mobile-menu.active{
    display:flex;
    flex-direction:column;
    gap:18px;

    padding:20px;
    border-top:1px solid var(--border);
}

@media(max-width:768px){

    .desktop-nav,
    .signin{
        display:none;
    }

    #menuBtn{
        display:block;
    }

    .nav{
        height:72px;
    }

    .logo-wrapper img{
        width:34px;
        height:34px;
    }

    .logo-wrapper span{
        font-size:1.5rem;
    }

    .get-started{
        padding:12px 18px;
    }
}