.hero{
    min-height:85vh;

    display:flex;
    align-items:center;
    text-align:center;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:4rem;
    line-height:1.1;
}

.hero p{
    margin-top:25px;

    color:var(--muted);

    font-size:1.15rem;
}

.hero-buttons{
    margin-top:40px;

    display:flex;
    justify-content:center;
    gap:20px;
}

.primary-btn{
    background:var(--purple);
    color:white;

    border:none;

    padding:15px 30px;

    border-radius:16px;

    cursor:pointer;
}

.secondary-btn{
    border:1px solid var(--border);

    background:transparent;
    color:white;

    padding:15px 30px;

    border-radius:16px;

    cursor:pointer;
}

.section-title{
    text-align:center;

    margin-bottom:60px;

    font-size:2.5rem;
}

#courses-section{
    padding:120px 0;
}

.courses-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.course-card{

    background:#080808;

    border:1px solid var(--border);

    border-radius:24px;

    overflow:hidden;

    transition:.3s;
}

.course-card:hover{
    transform:translateY(-6px);
}

.course-card img{
    height:220px;
    width:100%;
    object-fit:cover;
}

.course-card h3{
    padding:25px 25px 10px;
}

.course-card p{
    padding:0 25px;

    color:var(--muted);
}

.learn-btn{

    display:inline-block;

    margin:25px;

    background:var(--purple);

    padding:12px 20px;

    border-radius:12px;
}

#signup-section{
    padding:120px 0;
}

.signup-box{

    max-width:650px;

    margin:auto;

    text-align:center;
}

.signup-box h2{
    font-size:2.5rem;
}

.signup-box p{
    margin-top:15px;

    color:var(--muted);
}

#signupForm{

    margin-top:40px;

    display:flex;
    flex-direction:column;

    gap:18px;
}

#signupForm input{

    background:#080808;

    border:1px solid var(--border);

    color:white;

    padding:18px;

    border-radius:14px;
}

#signupForm button{

    background:var(--purple);

    color:white;

    border:none;

    padding:18px;

    border-radius:14px;

    cursor:pointer;
}

@media(max-width:768px){

    .hero h1{
        font-size:2.3rem;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .section-title{
        font-size:2rem;
    }
}
